@tailwind base;
@tailwind components;
@tailwind utilities;

#knowus{
      /* background-image: url('./animation_images/1.jpeg'); */
  background-color: red;

  background-position: center;
  background-repeat:no-repeat;
  
  background-size:cover;
}