@tailwind base;
@tailwind components;
@tailwind utilities;

#Navbar{
  background-color:orange;
  background-repeat:no-repeat;
  background-size:cover;
}

@media (max-width: 576px) {
  #Navbar {
    background-color: red;
    background-position: center;
  }
}

/* ///////////////////////////////////// */

#hero{
  background-color:grey;
  background-repeat:no-repeat;
  background-size:cover;
}