@tailwind base;
@tailwind components;
@tailwind utilities;

#Navbar{
  background-color:black;
  background-repeat:no-repeat;
  background-size:cover;
}
//screen condition
@media(max-width : 576px){
  #Navbar{
    background-image:url('./images/image-hero.jpg');
    background-position:center;
  }
}